<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Signup</title>
    <style>
      .flashes {
          list-style-type: none;
          padding: 10px;
      }
      .error {
          color: red;
          font-weight: bold;
      }
    </style>
</head>
<body>
    <h2>Sign Up</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/signup">
        <input type="text" id="user" name="username" required placeholder="Username"><br><br>
        <input type="password" id="pass" name="password" required placeholder="Password"><br>
        <button type="submit">Signup</button>
    </form>

    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>
